@model IQueryable<CommonLayer.Models.CategoriesModel>
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/_Shared/_BackEnd.cshtml";
}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2>Categories</h2>
    <p>@Html.ActionLink("Create New", "CreateNewCategory")</p>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(mode => Model.FirstOrDefault().Active)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().ParentName)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => category.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => category.Active)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => category.ParentName)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditCategory", new { ID = category.ID.ToString() }) |
                            @Html.ActionLink("Delete", "DeleteCategory", new { ID = category.ID.ToString() })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>