@model CommonLayer.Models.UsersModel

@{
    ViewBag.Title = "CreateNewUser";
    Layout = "~/Views/_Shared/_BackEnd.cshtml";
}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2>Create New User</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" class="form-control" id="FirstName" name="FirstName" data-val="true" data-val-required="First Name is required" />
                    <span class="field-validation-valid" data-valmsg-for="FirstName" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" class="form-control" id="LastName" name="LastName" data-val="true" data-val-required="Last Name is required" />
                    <span class="field-validation-valid" data-valmsg-for="LastName" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" class="form-control" id="Email" name="Email" data-val="true" data-val-required="Email is required" />
                    <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserAccountPassword, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="password" class="form-control" id="Password" name="Password" data-val="true" data-val-required="Password is required" />
                    <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="ConfirmPassword" class="control-label col-md-2">ConfirmPassword</label>
                <div class="col-md-10">
                    <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" data-val="true" data-val-required="Password is required" />
                    <span class="field-validation-valid" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RoleName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("RoleName", null, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CountryName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CountryName", null, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Back to List", "Products")
    </div>
</div>