@model IQueryable<CommonLayer.Models.OrdersModel>

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/_Shared/_BackEnd.cshtml";
}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2>Orders</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Number)
                    </th>
                    <th>
                        @Html.DisplayName("Email")
                    </th>
                    <th>
                        @Html.DisplayName("Price")
                    </th>
                    <th>
                        @Html.DisplayName("Quantity")
                    </th>
                    <th>
                        @Html.DisplayName("VAT")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Number)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductQuantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductVATRate)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditProduct", new { ID = item.ID }) |
                            @Html.ActionLink("Details", "ViewProductDetails", new { ID = item.ID }) |
                            @Html.ActionLink("Delete", "DeleteProduct", new { ID = item.ID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
