@model IQueryable<CommonLayer.Models.TownsModel>

@{
    ViewBag.Title = "Towns";
    Layout = "~/Views/_Shared/_BackEnd.cshtml";
}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2>Towns</h2>
    <p>@Html.ActionLink("Create New", "CreateNewTown")</p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CountryName)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditTown", new { ID = item.ID }) |
                    @Html.ActionLink("Delete", "DeleteTown", new { ID = item.ID })
                </td>
            </tr>
        }
    </table>
</div>