@model IQueryable<CommonLayer.Models.AuditsModel>

@{
    ViewBag.Title = "Audits";
    Layout = "~/Views/_Shared/_BackEnd.cshtml";
}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2>Audits</h2>
    <p>@Html.ActionLink("Create New", "CreateNewRole")</p>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().UserEmail)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserEmail)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditRole", new { id = item.ID }) |
                        @Html.ActionLink("Details", "ViewRoleDetails", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "DeleteRole", new { id = item.ID })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>