@model CommonLayer.OrderDetail

@{
    ViewBag.Title = "EditOrderDetails";
    Layout = "~/Views/_Shared/_BackEnd.cshtml";
}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2>Edit OrderDetails</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.OrderID)
            @Html.HiddenFor(model => model.ProductID)

            <div class="form-group">
                @Html.LabelFor(model => model.ProductPrice, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProductPrice)
                    @Html.ValidationMessageFor(model => model.ProductPrice)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProductQuantity, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProductQuantity)
                    @Html.ValidationMessageFor(model => model.ProductQuantity)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProductVATRate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProductVATRate)
                    @Html.ValidationMessageFor(model => model.ProductVATRate)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Back to List", "OrderDetails", new { ID = Model.ID }, null)
    </div>
</div>